{% extends 'base.html' %} {% block content %}

<input
	type="file"
	name="fileInput"
	id="fileInput"
	style="display: none"
	accept=".pdf"
/>

<div class="leftSection">
	<div
		class="oneBox"
		style="
			margin-top: 3vw;
			margin-bottom: 2em;
			margin-left: 2vw;
			margin-right: 2vw;
		"
		onclick="triggerFile()"
	>
		<p>Add a Document</p>
		<img
			src="{{url_for('static',filename='imgs/add_icon.svg')}}"
			style="width: 3em"
		/>
	</div>

	<div class="boxesTitle">Documents Uploaded</div>
	<div class="inner">
		{% for file in files %}
		<div class="oneBox">
			<a
				href="{{ file['url'] }}"
				target="_blank"
				style="text-decoration: none; color: white"
			>
				<p>{{ file['name'] }}</p>
			</a>
			<img
				onclick="deleteFile('{{ file.filename }}')"
				style="width: 3em"
				src="{{url_for('static',filename='imgs/delete_icon.svg')}}"
			/>
		</div>
		{% endfor %}
	</div>
</div>
<div class="rightSection">
	<form class="inner">
		<input
			placeholder="Ask a Question"
			class="textinput"
			name="textInput"
			type="text"
			id="textInput"
			autocomplete="off"
		/>
		<button type="button" class="sendIcon" onclick="askQuestion()">
			send
		</button>
	</form>
</div>

<div class="messages">
	{% for message in messages %} {% if message.role == 'user' %}
	<div class="userMsg">{{ message.content }}</div>
	{% elif message.role == 'assistant' %}
	<audio controls>
		<source src="{{ message.audio_url }}" type="audio/wav" />
		Your browser does not support the audio element.
	</audio>
	{% endif %} {% endfor %}
</div>

<div class="all_models">
	<select id="modelDropdown" class="modelDropdown">
		{% for m in all_models %}
		<option
			value="{{ m }}"
			class="{% if m == current_model %}selected{% endif %}"
		>
			{{ m }}
		</option>
		{% endfor %}
	</select>
</div>

<script src="{{url_for('static',filename='js/fileHandler.js')}}"></script>
<script src="{{url_for('static',filename='js/modelHandler.js')}}"></script>

{% endblock %}
